uvicorn
fastapi

huggingface-hub

langchain-core
langchain-groq
langchain_pinecone
langchain-text-splitters
langchain-cloudflare

pinecone

pymupdf==1.26.4
pymupdf4llm
pdf2docx==0.5.6

pydantic

python-dotenv
markdown-it-py
bs4
python-multipart
sentry-sdk
pypdf
cerebras-cloud-sdk
langchain-google-genai