uvicorn
fastapi
fitz
huggingface-hub

langchain-core
langchain-groq
langchain_pinecone
langchain-text-splitters
langchain-cloudflare

pinecone

pdf2docx
pydantic
pymupdf4llm
python-dotenv
markdown-it-py
pydantic
bs4
python-multipart
sentry-sdk
pypdf